<template>
  <div>
    <table>
      <thead>
      <tr class="header">
        <th>Place ID</th>
        <th>Width (m)</th>
        <th>Depth (m)</th>
        <th>Length (m)</th>
        <th>Price (€/day)</th>
      </tr>
      </thead>
      <div class="scrollbar">
        <tbody class="table-hover" v-for="place in tableData" :key="place.id">
        <tr @click="openModal(place)">
          <td>{{ place.id }}</td>
          <td>{{ place.width }}</td>
          <td>{{ place.depth }}</td>
          <td>{{ place.length }}</td>
          <td>{{ place.price }}</td>
        </tr>
        </tbody>
      </div>
    </table>
    <common-modal
        v-if="show"
        v-model="show"
        @cancel="cancel"
    >
      <div class="inputdiv">
        <h1>Change place info</h1>
        <h3 class="blue-mid-text">Place ID: {{ placeData.id }}
        </h3>
        <h3 class="blue-mid-text">Width:
          <input type="number" id="width" min="0.1" max="99" step="0.01" :placeholder="this.placeData.width"
                 v-model="width"/>
        </h3>
        <h3 class="blue-mid-text">Depth:
          <input type="number" id="depth" min="0.1" max="99" step="0.01" :placeholder="this.placeData.depth"
                 v-model="depth"/>
        </h3>
        <h3 class="blue-mid-text">Length:
          <input type="number" id="length" min="0.1" max="99" step="0.01" :placeholder="this.placeData.length"
                 v-model="length"/>
        </h3>
        <h3 class="blue-mid-text">Price:
          <input type="number" id="price" min="0.1" max="99" step="0.01" :placeholder="this.placeData.price"
                 v-model="price"/>
        </h3>
      <blue-button-m
          @click="confirm()"
          msg="Submit"
          class="submitButton"
      ></blue-button-m>
      </div>
    </common-modal>
  </div>
</template>

<script>

import BlueButtonM from "../../../shared/components/buttons/BlueButtonM.vue";
import CommonModal from "../../../BoatOwner/components/CommonModal";
import {editPlace, getAllPlaces} from "../../../../../portbooker-backend/services/PlacesService";
import {getUser} from "../../../../../portbooker-backend/services/UsersService";
import firebase from "../../../../../portbooker-backend/firebase";


export default {
  components: {CommonModal, BlueButtonM},

  async created() {
    const user = firebase.auth().currentUser
    if (user) {

      await getUser(user.uid).then((data) => (this.portName = data.portName));
      await getAllPlaces(this.portName).then((data) => (this.tableData = data))
    }
  }, watch: {
    '$store.state.refreshPort': async function () {
      console.log(this.$store.state.refreshPort)
      const user = firebase.auth().currentUser
      if (user) {

        await getUser(user.uid).then((data) => (this.portName = data.portName));
        await getAllPlaces(this.portName).then((data) => (this.tableData = data))
      }
    }
  },
  methods: {
    cancel() {
      this.show = false;
    },
    openModal(data) {
      this.placeData = data
      this.width = this.placeData.width
      this.depth = this.placeData.depth
      this.length = this.placeData.length
      this.price = this.placeData.price
      this.show = true;
    },
    confirm() {
      this.show = false;
      this.placeData.width = this.width
      this.placeData.depth = this.depth
      this.placeData.length = this.length
      this.placeData.price = this.price
      editPlace(this.portName, this.placeData.id, this.placeData)
      this.$store.state.refreshPort = !this.$store.state.refreshPort
    }
  },
  data() {
    return {
      portName: "",
      tableData: [],
      show: false,
      placeData: null,
      logo: require("@/assets/portbooker.png"),
      width: "",
      length: "",
      depth: "",
      price: ""
    }
  }
}
</script>

<style scoped>

input:focus {
  outline: none;
}

input:focus {
  outline: none;
}

table {
  border-collapse: separate;
  border-spacing: 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  table-layout: fixed;
  background: white;
  height: 250px;
  max-width: 800px;
  width: 100%;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
  border-radius: 10px;
  padding: 5px 5px 10px;
}

th {
  color: #24305e;
  background: #a8d0e6;
  font-size: 20px;
  font-weight: 300;
  padding: 8px;
  width: 130px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align: middle;
}

.header th:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.header th:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

tr {
  background-color: #eef4f8;
  font-size: 16px;
  font-weight: normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
  margin: 8px;
}

tr:hover td {
  background: #a8d0e6;
  color: #24305e;
}

tr:first-child {
  border-top: none;
}

tr:last-child {
  border-bottom: none;
}

td {
  color: #24305e;
  padding: 5px 65px;
  text-align: center;
  vertical-align: middle;
  font-weight: 300;
  font-size: 18px;
  width: 25%;
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.1);
}

tr td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

tr td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.scrollbar {
  overflow: scroll;
  overflow-x: hidden;
  height: 200px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

h1 {
  padding: 10px 10px 10px 10px;
  text-align: left;
  margin: 5px 0 5px 0;
}

h2 {
  text-align: center;
  padding-left: 10px;
}

h3 {
  text-align: left;
  margin: 0;
  padding: 3px 0 3px 10px;
}

.inputdiv {margin-left: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}


h1 {
  padding: 10px;
  text-align: center;
}

img {
  width: 300px;
}
</style>