<template>
  <div class="main">
    <button class="portNameButton">{{ portName }}</button>
    <div class="portMap">
      <div class="portRow">
        <div v-for="place in firstHalf" :key="place.id">
          <Place @click="openModal(place)"
                 v-bind:placeId="place.id"
                 :booked="false"
          />
        </div>
      </div>
      <div class="rectangle"></div>
      <div class="portRow">
        <div v-for="place in secondHalf" :key="place.id">
          <Place @click="openModal(place)"
                 v-bind:placeId="place.id"
                 :booked="false"
          />
        </div>
      </div>
    </div>
    <common-modal
        v-if="show"
        v-model="show"
        @cancel="cancel"
    >
      <div class="inputdiv">
        <h1>Change place info</h1>
        <h3 class="blue-mid-text">Place ID: {{ placeData.id }}
        </h3>
        <h3 class="blue-mid-text">Width:
          <input type="number" id="width" min="0.1" max="99" step="0.01" :placeholder="this.placeData.width"
                 v-model="width"/>
        </h3>
        <h3 class="blue-mid-text">Depth:
          <input type="number" id="depth" min="0.1" max="99" step="0.01" :placeholder="this.placeData.depth"
                 v-model="depth"/>
        </h3>
        <h3 class="blue-mid-text">Length:
          <input type="number" id="length" min="0.1" max="99" step="0.01" :placeholder="this.placeData.length"
                 v-model="length"/>
        </h3>
        <h3 class="blue-mid-text">Price:
          <input type="number" id="price" min="0.1" max="99" step="0.01" :placeholder="this.placeData.price"
                 v-model="price"/>
        </h3>
        <blue-button-m
            @click="confirm()"
            msg="Submit"
            class="submitButton"
        ></blue-button-m>
      </div>
    </common-modal>
  </div>
</template>

<script>

import BlueButtonM from "../../../shared/components/buttons/BlueButtonM.vue";
import Place from "../../../shared/components/Place";
import CommonModal from "../../../BoatOwner/components/CommonModal";
import {editPlace, getAllPlaces} from "../../../../../portbooker-backend/services/PlacesService";
import firebase from "../../../../../portbooker-backend/firebase";
import {getUser} from "../../../../../portbooker-backend/services/UsersService";

export default {
  components: {Place, CommonModal, BlueButtonM},
  name: "Port",
  computed: {
    firstHalf: function () {
      const size = this.placesData.length;
      const half = Math.ceil(size / 2);

      return this.placesData.slice(0, half);
    },
    secondHalf: function () {
      const size = this.placesData.length;
      const half = Math.ceil(size / 2);

      return this.placesData.slice(half);
    },
  },async created() {
    const user =firebase.auth().currentUser
    if (user) {

      await getUser(user.uid).then((data) => (this.portName = data.portName));
      await getAllPlaces(this.portName).then((data) => (this.placesData = data))}
  },
  methods: {
    cancel() {
      this.show = false;
    },
    openModal(data) {
      this.placeData = data
      this.width = this.placeData.width
      this.depth = this.placeData.depth
      this.length = this.placeData.length
      this.price = this.placeData.price
      this.show = true;
    },
    confirm() {
      this.show = false;
      this.placeData.width = this.width
      this.placeData.depth = this.depth
      this.placeData.length = this.length
      this.placeData.price = this.price
      editPlace(this.portName, this.placeData.id, this.placeData)
      this.$store.state.refreshPort= !this.$store.state.refreshPort

    }
  },
  watch: {
    '$store.state.refreshPort': async function () {
      console.log(this.$store.state.refreshPort)
      const user = firebase.auth().currentUser
      if (user) {

        await getUser(user.uid).then((data) => (this.portName = data.portName));
        await getAllPlaces(this.portName).then((data) => (this.placesData = data))
      }
    }
  },
  data() {
    return {
      placesData:[],
      portName: "",
      show: false,
      placeData: null,
      logo: require("@/assets/portbooker.png"),
      width: "",
      length: "",
      depth: "",
      price: ""
    };
  },
};
</script>

<style scoped>


input:focus {
  outline: none;
}

.rectangle {
  height: 4rem;
  width: 32rem;
  background-color: #24305e;
  border: 0;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.portMap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  max-width: 800px;
  animation: float 5s infinite;
  background-color: white;
}

.portNameButton {
  color: #eef4f8;
  font-weight: 300;
  background-color: #24305e;
  padding: 11rem 2rem;
  text-align: center;
  border: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
  max-width: 9rem;
}

h1 {
  padding: 10px 10px 10px 10px;
  text-align: left;
  margin: 5px 0 5px 0;
}

h2 {
  text-align: left;
  padding-left: 10px;
}

h3 {
  text-align: left;
  margin: 0;
  padding: 3px 0 3px 10px;
}
.inputdiv {margin-left: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}


h1 {
  padding: 10px;
  text-align: center;
}

img {
  width: 300px;
}

</style>

