<template>
  <div class="previous">
    <table>
      <div class="table-name">
        Previous Bookings
      </div>
      <thead>
      <tr class="header">
        <th>Port</th>
        <th>Passengers</th>
        <th>Stay</th>
        <th>Spot</th>
      </tr>
      </thead>
      <div class="scrollbar">
        <tbody class="table-wrapper" v-for="item in bookingsData" :key="item.name">
        <tr class="table-content">
          <td id="port-name">{{ item.port }}</td>
          <td id="people-quantity">
            <img src="../../assets/icons/peopleIcon.jpg" class="icon" alt="people"> {{ item.passengers }}
          </td>
          <td id="booking-date">{{ formatDate(item.startTime) }}-{{ formatDate(item.endTime) }}</td>
          <td id="place-id">{{ item.placeId }}</td>
        </tr>
        </tbody>
      </div>
    </table>
  </div>
</template>

<script>
import {getAllUserBookings} from "../../../../portbooker-backend/services/BookingsService";
import firebase from "../../../../portbooker-backend/firebase";
import {formatDate} from "../../shared/formatting";

export default {
  async created() {
    await firebase.auth().onAuthStateChanged(async (user) => {
      if (user) {
        await getAllUserBookings(user.uid).then(bookings => {
              this.bookingsData = bookings.previous
            }
        );
      }
    });
  },
  data() {
    return {
      logo: require("@/assets/portbooker.png"),
      bookingsData: [],
      formatDate
    };
  },
};
</script>

<style scoped>

.icon {
  height: 15px;
  width: 15px;
  margin-right: 4px;
}

.previous {
  padding-top: 45px;
}

.table-name {
  background: #a8d0e6;
  border-radius: 10px 10px 0 0;
  font-size: 20px;
  padding: 8px;
  max-width: 954px;
  width: 100%;
  font-weight: bold;
}

table {
  border-collapse: separate;
  border-spacing: 0 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  height: 300px;
  max-width: 970px;
  width: 100%;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
}

thead {
  background-color: #eef4f8;
  width: 100%;
}

.header {
  font-weight: bold;
  width: 940px;
  max-width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

th {
  font-size: 20px;
  width: 135px;
  font-weight: bold;
  padding: 8px 50px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

tr {
  background-color: #eef4f8;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

.table-content {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.1);
}

.table-wrapper :hover {
  background: #a8d0e6;
  border-radius: 10px;
}

#port-name {
  padding: 5px 50px;
  margin-top: 10px;
  font-weight: 300;
  font-size: 16px;
  width: 135px;
}

#people-quantity {
  padding: 5px 50px;
  margin-top: 10px;
  font-weight: 300;
  font-size: 16px;
  width: 135px;
}

#booking-date {
  padding: 5px 50px;
  font-weight: 300;
  font-size: 16px;
  width: 135px;
}

#place-id {
  margin-top: 10px;
  padding: 5px 50px;
  font-weight: 300;
  font-size: 16px;
  width: 135px;
}

.scrollbar {
  overflow: scroll;
  overflow-x: hidden;
  height: 490px;
}

.scrollbar td:nth-child(5) {
  padding-left: 80px;
}

.scrollbar td:last-child {
  padding-right: 10px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
</style>
