<template>
  <div class="previous">
    <table>
      <div class="table-name">
        Upcoming Bookings
      </div>
      <thead>
      <tr class="header">
        <th>Port</th>
        <th>Passengers</th>
        <th>Stay</th>
        <th>Spot</th>
        <th>Paid</th>
      </tr>
      </thead>
      <div class="scrollbar">
        <tbody class="table-wrapper" v-for="item in bookingsData" :key="item.bookingInfo.port">
        <tr class="table-content">
          <td id="port-name">{{ item.bookingInfo.port }}</td>
          <td id="people-quantity"><img src="../../assets/icons/peopleIcon.jpg" class="icon" alt="passengerIcon">
            {{ item.bookingInfo.passengers }}
          </td>
          <td id="booking-date">
            {{ formatDate(item.bookingInfo.startTime) }}-{{ formatDate(item.bookingInfo.endTime) }}
          </td>
          <td id="place-id">{{ item.bookingInfo.placeId }}</td>
          <td v-if="item.bookingInfo.paid" class="place-paid">
            <img src="../../assets/icons/greenCheckmark.svg" class="icon"
                 alt="true">
          </td>
          <td v-else class="place-paid">
            <img src="../../assets/icons/redCross.svg" class="icon"
                 alt="false">
          </td>
          <td>
            <img src="../../assets/icons/garbage-can.png" class="delete" alt="garbagecanIcon"
                 @click="openModal(item.bookingInfo,item.bookingID)">
          </td>
        </tr>
        </tbody>
      </div>
    </table>
    <common-modal
        v-if="show "
        v-model="show"
        @confirm="confirm"
        @cancel="cancel"
    >
      <template v-slot:title></template>
      <div class="text">
        <h1 class="blue-bold-header">Are you sure you want to delete this booking?</h1>
        <h2 class="blue-mid-text">Port: {{ bookingData.port }}</h2>
        <h2 class="blue-mid-text">Place Id: {{ bookingData.placeId }}</h2>
        <h2 class="blue-mid-text">Start time: {{ formatDate(bookingData.startTime) }}</h2>
        <h2 class="blue-mid-text">End time: {{ formatDate(bookingData.endTime) }}</h2>
        <h2 class="blue-mid-text">Number of passengers: 4</h2>
      </div>
      <div class="picAndButton">
        <img :src="logo" alt="logo"/>
        <div class="buttonDiv">
          <blue-button-m
              @click="confirm(bookingData.port,bookingID)"
              msg="Confirm"
              class="confirmButton"
              id="confirm"
          ></blue-button-m>
          <blue-button-m
              @click="cancel"
              msg="Cancel"
              class="cancelButton"
              id="cancel"
          ></blue-button-m>
        </div>
      </div>
    </common-modal>
  </div>
</template>


<script>
import firebase from "../../../../portbooker-backend/firebase";
import {getAllUserBookings} from "../../../../portbooker-backend/services/BookingsService";
import CommonModal from "../../BoatOwner/components/CommonModal";
import BlueButtonM from "../../shared/components/buttons/BlueButtonM.vue";
import {formatDate} from "../../shared/formatting.js";

export default {
  async created() {
    await this.getBookingsData()
  },
  data() {
    return {
      logo: require("@/assets/portbooker.png"),
      bookingsData: [],
      show: false,
      bookingData: null,
      bookingID: null,
      formatDate
    };
  }, methods: {
    async getBookingsData() {
      await firebase.auth().onAuthStateChanged(async (user) => {
        if (user) {
          await getAllUserBookings(user.uid).then(bookings => {
                this.bookingsData = bookings.upcoming
              }
          );
        }
      });
    },
    async confirm(port, docId) {
      const docRef = await firebase.firestore().collection("ports").doc(port).collection("bookings");
      docRef.doc(docId).delete();
      await this.getBookingsData()
      this.show = false;
    },
    cancel() {
      this.show = false;
    },
    openModal(data, id) {
      this.bookingData = data;
      this.bookingID = id
      this.show = true;
    },
  },
  components: {CommonModal, BlueButtonM}

};
</script>

<style scoped>

.text {
  padding-top: 30px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.picAndButton {
  margin: 50px 0 0 150px;
  display: flex;
  flex-direction: column;
  justify-content: right;
}

.buttonDiv {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin: 110px 50px 0 10px;
}

h2 {
  text-align: left;
  margin: 0;
  padding: 30px 0 3px 10px;
}

img {
  width: 200px;
}

.icon {
  height: 15px;
  width: 15px;
  margin-right: 4px;
}

.confirmButton {
  margin: 10px;
}

.cancelButton {
  margin: 10px;
}

.delete {
  height: 20px;
  width: 20px;
  margin-top: 10px;
  margin-right: 5px;
  cursor: pointer;
  z-index: 100;
}

.previous {
  padding-top: 45px;
}

.table-name {
  background: #a8d0e6;
  border-radius: 10px 10px 0 0;
  font-size: 20px;
  padding: 8px;
  max-width: 954px;
  width: 100%;
  font-weight: bold;
}

table {
  border-collapse: separate;
  border-spacing: 0 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  height: 300px;
  max-width: 970px;
  width: 100%;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
}

thead {
  background-color: #eef4f8;
  width: 100%;
  display: flex;
  justify-content: center;
}

.header {
  padding-right: 30px;
  background: transparent;
  font-weight: bold;
  width: 940px;
  max-width: 940px;
  display: flex;
  justify-content: space-between;
}

th {
  font-size: 20px;
  font-weight: bold;
  width: 108px;
  padding: 8px 40px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

tr {
  background-color: #eef4f8;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

.table-content {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.1);
}

.table-wrapper :hover {
  background: #a8d0e6;
  border-radius: 10px;
}

#port-name {
  padding: 5px 40px;
  margin-top: 10px;
  font-weight: 300;
  font-size: 16px;
  width: 108px;
}

#people-quantity {
  padding: 5px 40px;
  margin-top: 10px;
  font-weight: 300;
  font-size: 16px;
  width: 108px;
}

#booking-date {
  padding: 5px 40px;
  font-weight: 300;
  font-size: 16px;
  width: 108px;
}

#place-id {
  margin-top: 10px;
  padding: 5px 40px;
  font-weight: 300;
  font-size: 16px;
  width: 108px;
}

.place-paid {
  margin-top: 10px;
  padding: 5px 40px;
  font-weight: 300;
  font-size: 16px;
  width: 108px;
}

.scrollbar {
  overflow: scroll;
  overflow-x: hidden;
  height: 490px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
</style>
