<template>
  <div>
    <SideBar/>
    <h1 class="blue-bold-header">Account details</h1>
    <div class="main">
      <div class="details">
        <h2 class="blue-mid-header">Display name</h2>
        <div class="info" v-if="!edit">
          <h2 class="blue-mid-text">{{ originalUserData.fullName }}</h2>
        </div>
        <div class="info" v-else>
          <input type="text" v-model=" userData.fullName ">
        </div>
        <h2 class="blue-mid-header">Email</h2>
        <div class="info" v-if="!edit">
          <h2 class="blue-mid-text">{{ userEmail }}</h2>
        </div>
        <div class="info" v-else>
          <input type="email" placeholder="Old email" v-model="oldEmail">
          <input type="email" placeholder="New email" id="email" v-model="newEmail">
          <input type="email" placeholder="New email again" id="confirm_email" v-model="confirmEmail">
        </div>
        <h2 class="blue-mid-header">Password</h2>
        <div class="info" v-if="!edit">
          <h2 class="blue-mid-text"> ******************</h2>
        </div>
        <div class="info" v-else>
          <input type="password" placeholder="Old password" v-model="oldPassword">
          <input type="password" placeholder="New password" id="password" v-model="newPassword">
          <input type="password" placeholder="New password again" id="confirm_password" v-model="confirmPassword">
        </div>
        <h2 class="blue-mid-header">Phone number</h2>
        <div class="info" v-if="!edit">
          <h2 class="blue-mid-text"> {{ originalUserData.phoneNumber }}</h2>
        </div>
        <div class="info" v-else>
          <input type="text" v-model=" userData.phoneNumber " id="phone">
        </div>
        <div class="editAndDelete" v-if="!edit">
          <h2 class="blue-mid-text underline" @click="startEdit">Edit account</h2>
          <h2 class="red-mid-text underline" @click="openDeleteModal()" id="deleteAccount">Delete account</h2>
        </div>

        <div class="editAndDelete" v-else>
          <h2 class="blue-mid-text underline" @click="openEditModal">Save</h2>
          <h2 class="blue-mid-text underline" @click="cancelEdit">Cancel</h2>
          <h2 class="red-mid-text underline" @click="openDeleteModal()">Delete account</h2>
        </div>

        <common-modal
            v-if="deleteAccountRequest"
            v-model="deleteAccountRequest"
            @confirm="deleteAccount"
            @cancel="cancel"
        >
          <div class="centerModal">
            <h1 class="redText">Would you like to delete your account?</h1>
            <div class="buttonDiv">
              <blue-button-m class="actionButton" msg="Confirm" @click="deleteAccount"
                             id="confirmDeleting"></blue-button-m>
              <blue-button-m class="actionButton" msg="Cancel" @click="cancel"></blue-button-m>
            </div>
          </div>
        </common-modal>
        <common-modal
            v-if="editAccountRequest"
            v-model="editAccountRequest"
            @confirm="editAccount"
            @cancel="editInfoNotCorrect"
        >
          <div class="centerModal">
            <h1 class="blueText changed">This info is going to be edited:</h1>
            <h2 v-if="userData.fullName!==originalUserData.fullName" class="changed">Display name:
              {{ originalUserData.fullName }} -->
              {{ userData.fullName }}</h2>
            <h2 v-if="!!newEmail" class="changed">Email: {{ oldEmail }} --> {{ newEmail }}</h2>
            <h2 v-if="!!newPassword" class="changed"> You changed the password</h2>
            <h2 v-if="userData.phoneNumber!==originalUserData.phoneNumber" class="changed"> Phone number:
              {{ originalUserData.phoneNumber }} -->
              {{ userData.phoneNumber }}</h2>
            <h2 v-if="userData.boatNumber!==originalUserData.boatNumber" class="changed">Registry number: {{
                originalUserData.boatNumber
              }} --> {{ userData.boatNumber }}</h2>
            <h2 v-if="userBoat.boatModel!==originalUserBoat.boatModel" class="changed">Boat model:
              {{ originalUserBoat.boatModel }} -->
              {{ userBoat.boatModel }}</h2>
            <h2 v-if="userBoat.boatName!==originalUserBoat.boatName" class="changed">Boat name:
              {{ originalUserBoat.boatName }} -->
              {{ userBoat.boatName }}</h2>
            <h2 v-if="userBoat.width!==originalUserBoat.width" class="changed">Width: {{ originalUserBoat.width }}m -->
              {{ userBoat.width }}m</h2>
            <h2 v-if="userBoat.depth!==originalUserBoat.depth" class="changed">Depth: {{ originalUserBoat.depth }}m -->
              {{ userBoat.depth }}m</h2>
            <h2 v-if="userBoat.length!==originalUserBoat.length" class="changed">Length: {{ originalUserBoat.length }}m
              -->
              {{ userBoat.length }}m</h2>

            <div class="buttonDiv">
              <blue-button-m class="actionButton" msg="Confirm" @click="editAccount"
                             id="confirmEditing"></blue-button-m>
              <blue-button-m class="actionButton" msg="Cancel" @click="editInfoNotCorrect"></blue-button-m>
            </div>
          </div>
        </common-modal>

      </div>
      <div>
        <div class="info boatInfoText">
          <h2 class="blue-header">Boat info</h2>
        </div>
        <div class="boatInfo" v-if="!edit">
          <div class="col1">
            <h2 class="blue-mid-header">Width (m)</h2>
            <h2 class="blue-mid-text"> {{ originalUserBoat.width }}</h2>
            <h2 class="blue-mid-header">Length (m)</h2>
            <h2 class="blue-mid-text"> {{ originalUserBoat.length }}</h2>
            <h2 class="blue-mid-header">Depth (m)</h2>
            <h2 class="blue-mid-text"> {{ originalUserBoat.depth }}</h2></div>
          <div class="col2">
            <h2 class="blue-mid-header">Boat model</h2>
            <h2 class="blue-mid-text"> {{ originalUserBoat.boatModel }}</h2>
            <h2 class="blue-mid-header">Boat name</h2>
            <h2 class="blue-mid-text"> {{ originalUserBoat.boatName }}</h2>
            <h2 class="blue-mid-header">Registry number</h2>
            <h2 class="blue-mid-text"> {{ originalUserData.boatNumber }} </h2></div>
        </div>
        <div class="boatInfo" v-else>
          <div class="col1">
            <h2 class="blue-mid-header">Width (m)</h2>
            <input type="number" v-model="userBoat.width" min="0" max="99"
                   step="0.01">
            <h2 class="blue-mid-header">Length (m)</h2>
            <input type="number" v-model="userBoat.length" min="0" max="99"
                   step="0.01">
            <h2 class="blue-mid-header">Depth (m)</h2>
            <input type="number" v-model="userBoat.depth" min="0" max="99"
                   step="0.01"></div>
          <div class="col2">
            <h2 class="blue-mid-header">Boat model</h2>
            <input type="text" v-model=" userBoat.boatModel ">
            <h2 class="blue-mid-header">Boat name</h2>
            <input type="text" v-model=" userBoat.boatName ">
            <h2 class="blue-mid-header">Registry number</h2>
            <input type="text" v-model=" userData.boatNumber "></div>
        </div>
      </div>
      <div class="profile"><img alt="profilepicture" class="profilePic"

                                src="@/assets/profilepic.png">
        <BlueButtonL class="button" route-link="/"
                     msg="Change profile picture"/>
      </div>
    </div>
  </div>
</template>

<script>

import SideBar from "../components/Sidebar";
import {getUser, editUser} from "../../../../portbooker-backend/services/UsersService";
import firebase from "../../../../portbooker-backend/firebase";
import {getBoat, editBoat, addBoat} from "../../../../portbooker-backend/services/BoatsService";
import {BlueButtonL} from "../../shared/components/buttons";
import CommonModal from "@/BoatOwner/components/CommonModal.vue";
import BlueButtonM from "../../shared/components/buttons/BlueButtonM";

export default {
  async created() {
    const user = firebase.auth().currentUser
    if (user) {
      this.userEmail = user.email
      await getUser(user.uid).then((data) => {
        this.originalUserData = data
      });
      await getBoat(this.originalUserData.boatNumber).then((data) => {
        this.originalUserBoat = data
      });
    }
  },
  name: "AccountDetails",
  components: {SideBar, BlueButtonL, CommonModal, BlueButtonM},
  data() {
    return {
      userData: [], userBoat: [], originalUserData: [], originalUserBoat: [], userEmail: "", edit: false,
      oldPassword: "",
      newPassword: "",
      confirmPassword: "",
      oldEmail: "",
      newEmail: "",
      confirmEmail: "",
      deleteAccountRequest: false,
      editAccountRequest: false
    };
  },
  methods: {
    cancelEdit() {
      this.edit = !this.edit
      this.cleanFields()
    },
    editAccount() {
      this.changeData()
      this.edit = !this.edit
      //this.cleanFields()
      this.editAccountRequest = false
    },
    startEdit() {
      this.userData = this.originalUserData
      this.userBoat = this.originalUserBoat
      this.edit = !this.edit
    },
    async openEditModal() {
      let validPhone = this.validatePhoneNumber();
      let validEmail = await this.validateEmail();
      let validPass = await this.validatePasswords();
      if (validPhone && !validPass && !validEmail) {
        if (this.oldPassword === "" && this.newPassword === "" && this.confirmPassword === "") {
          let user = firebase.auth().currentUser
          await getUser(user.uid).then((data) => {
            this.originalUserData = data
          });
          await getBoat(this.originalUserData.boatNumber).then((data) => {
            this.originalUserBoat = data
          });
          this.editAccountRequest = true
        } else {

          let user = firebase.auth().currentUser
          await getUser(user.uid).then((data) => {
            this.originalUserData = data
          });
          await getBoat(this.originalUserData.boatNumber).then((data) => {
            this.originalUserBoat = data
          });
          this.editAccountRequest = true

        }
      } else {
        if (validEmail) {
          alert(validEmail)
        } else {
          alert(validPass)
        }
      }
    },
    async validatePasswords() {
      let alertMessage = ""
      const confirm_password = document.getElementById("confirm_password");
      if (this.newPassword !== this.confirmPassword) {
        alertMessage = "Passwords Don't Match";
        return alertMessage
      } else {
        if (this.oldPassword !== "") {
          if (this.oldEmail === "") {
            alertMessage = "Please enter your old email for authentication"
            return alertMessage
          } else {
            const credential = firebase.auth.EmailAuthProvider.credential(
                this.oldEmail,
                this.oldPassword
            );
            try {
              await firebase.auth().currentUser.reauthenticateWithCredential(credential).then()
              alertMessage = ""
              return alertMessage
            } catch (error) {
              alertMessage = "Incorrect email or password!"
              return alertMessage
            }
          }
        } else {
          if (this.oldEmail === "") {
            if (this.newEmail === "" && this.newPassword === "") {
              confirm_password.setCustomValidity('');
              alertMessage = ""
              return alertMessage
            }
            alertMessage = "Please enter your old password and email for authentication"
            return alertMessage
          }
          confirm_password.setCustomValidity('');
          alertMessage = ""
          return alertMessage
        }

      }
    },
    async validateEmail() {
      let alertMessage = ""
      const confirm_email = document.getElementById("confirm_email");
      if (this.newEmail !== this.confirmEmail) {
        alertMessage = "Emails Don't Match";
        return alertMessage
      } else {
        if (this.oldEmail !== "") {
          if (this.oldPassword === "") {
            alertMessage = "Please enter your old password for authentication"
            return alertMessage
          } else {
            const credential = firebase.auth.EmailAuthProvider.credential(
                this.oldEmail,
                this.oldPassword
            );
            if (this.newEmail !== "" && this.confirmEmail !== "") {
              try {
                await firebase.auth().currentUser.reauthenticateWithCredential(credential).then()
                alertMessage = ""
                return alertMessage
              } catch (error) {
                alertMessage = "Incorrect email or password!"
                return alertMessage
              }
            } else {
              confirm_email.setCustomValidity('');
              alertMessage = ""
              return alertMessage
            }
          }
        } else {
          if (this.oldPassword === "") {
            if (this.newEmail === "" && this.newPassword === "") {
              confirm_email.setCustomValidity('');
              alertMessage = ""
              return alertMessage
            }
            alertMessage = "Please enter your old password and email for authentication"
            return alertMessage
          }
          confirm_email.setCustomValidity('');
          alertMessage = ""
          return alertMessage
        }
      }
    }

    ,
    validatePhoneNumber() {
      const phone = document.getElementById("phone")
      const regex = /^[+\d](\d)*?$/
      if (regex.test(phone.value)) {
        phone.setCustomValidity('');
        return true
      } else {
        alert("Please validate your phone number");
        return false
      }
    }
    ,
    openDeleteModal() {
      this.deleteAccountRequest = true;
    }
    ,
    async deleteAccount() {
      await this.$router.push("/");
      const user = firebase.auth().currentUser;
      await firebase.firestore().collection("users").doc(user.uid).delete();
      await firebase.firestore().collection("boats").doc(this.originalUserData.boatNumber).delete();
      await user.delete();
      await firebase.auth().signOut()
      this.deleteAccountRequest = false;
    }
    ,
    cancel() {
      this.deleteAccountRequest = false;
    }
    ,
    editInfoNotCorrect() {
      this.editAccountRequest = false;
    }
    ,

    async changeData() {
      let user = firebase.auth().currentUser
      if (user) {
        const newNumber = this.userData.boatNumber
        const userData = await getUser(user.uid)
        await editUser(user.uid, this.userData)
        if (userData.boatNumber !== newNumber) {
          await addBoat(this.userData.boatNumber, this.userBoat.boatName, this.userBoat.boatModel, this.userBoat.width, this.userBoat.length, this.userBoat.depth)
          await firebase.firestore().collection("boats").doc(this.originalUserData.boatNumber).delete();
        } else {
          await editBoat(this.originalUserData.boatNumber, this.userBoat)
        }
        const credential = firebase.auth.EmailAuthProvider.credential(
            this.userEmail,
            this.oldPassword
        );
        if (this.newPassword !== "") {
          try {
            await user.reauthenticateWithCredential(credential)
            await firebase.auth().currentUser.updatePassword(this.newPassword);

          } catch (error) {
            console.log("1")
            alert(error.message)
          }
        }

        if (this.newEmail !== "") {
          try {
            await user.reauthenticateWithCredential(credential)
            await firebase.auth().currentUser.updateEmail(this.newEmail);

          } catch (error) {
            console.log("1")
            alert(error.message)
          }
        }
        await this.cleanFields()
      }

    }
    ,
    async cleanFields() {
      const user = firebase.auth().currentUser
      if (user) {
        this.userEmail = user.email
        await getUser(user.uid)
            .then((data) => (this.originalUserData = data
            ));
        await getBoat(this.originalUserData.boatNumber).then((data) => (this.originalUserBoat = data));
      }
      this.newEmail = ""
      this.newPassword = ""
      this.oldPassword = ""
      this.confirmPassword = ""
      this.oldEmail = ""
      this.confirmEmail = ""

    }
  }
}
</script>

<style scoped>
@import "../../assets/css/textStyles.css";

.centerModal {
  padding-top: 6%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.buttonDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 60px 0 0 10px;
}

.actionButton {
  margin: 10px;
}

.redText {
  color: #F76C6C;
  padding-top: 80px;
}


.details {
  text-align: left;
}

.profile {
  justify-content: right;
}


.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profilePic {
  padding-top: 5%;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 15%;
}

.blue-bold-header {
  margin-left: 5%;
}

h2 {
  margin-top: 0.3em;
  margin-bottom: 0.3em
}

.button {
  display: flex;
  margin: 3% auto auto;
}

.changed {
  text-align: center;
  padding: 2px;
}

.boatInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: left;
}

.boatInfoText {
  text-align: left;
}

.col2 {
  margin-left: 50px;
}

input {
  font-size: 20px;
  line-height: 16px;
  padding: 4px;
  min-height: 16px;
  border: unset;
  border-radius: 4px;
  outline-color: rgb(84 105 212);
  background-color: rgb(255, 255, 255);
  box-shadow: #3c4257 0 0 0 1px;
  margin-top: 5px;
  margin-bottom: 5px;
}


.underline {
  width: 100%;
  text-decoration: underline;
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.editAndDelete {
  margin-top: 5%;
  width: 150%;
  display: flex;
  flex-direction: row;
}
</style>
