<template>
  <div>
    <SideBar />
    <div class="choosedate">
      <a> Pick dates to get prices </a>
      <input v-model="startDate" type="date" id="startdate" v-on:change="updateDate()"/>
      <input v-model="endDate" type="date" id="enddate" />
      <BlueButtonS msg="Choose dates" v-on:click="addPrices()" id = "submit-button"/>
    </div>
    <Table
      :portName="portName"
      :tableData="placesData"
      :startDate="startDate"
      :endDate="endDate"
      :showPrice="showPrice"
      :numberOfDays="numberOfDays"
    />
    <Port
      :portName="portName"
      :placesData="placesData"
      :startDate="startDate"
      :endDate="endDate"
      :showPrice="showPrice"
      :numberOfDays="numberOfDays"
    />
  </div>
</template>

<script>
import Port from "../components/bookingComponents/PortMap.vue";
import Table from "../components/bookingComponents/BookingTable.vue";
import SideBar from "../components/Sidebar";
import BlueButtonS from "../../shared/components/buttons/BlueButtonS.vue";
import {getAllPlaces} from "../../../../portbooker-backend/services/PlacesService";
import {boatFitsInPlace, placeAlreadyBooked} from "@/BoatOwner/components/bookingComponents/utils";

export default {
  created() {
    getAllPlaces(this.portName).then((allPlaces) => this.placesData = allPlaces)
  },
  name: "BookAPlace",
  data() {
    return {
      placesData: [],
      startDate: new Date().toISOString().split('T')[0],
      endDate: new Date(new Date().getTime() + 24 * 60 * 60 * 1000).toISOString().split('T')[0],
      showPrice: false,
      numberOfDays: null,
      portName: this.$store.state.port,
    };
  },
  components: {
    Port,
    Table,
    SideBar,
    BlueButtonS,
  },
  methods: {
    updateDate: function () {
      this.endDate = new Date(new Date(this.startDate).getTime() + 24 * 60 * 60 * 1000).toISOString().split('T')[0];
      document.getElementById("enddate").value = this.endDate;
    },
    addPrices: async function () {
      if (this.startDate == null || this.endDate == null)
        alert("Fill the dates for prices");
      else if (Date.parse(this.startDate) < Date.parse(new Date().toISOString().split('T')[0]))
        alert("Can't book before today")
      else if (this.endDate <= this.startDate)
        alert("Start date must be before the end date")
      else {
        this.numberOfDays = (Date.parse(this.endDate) - Date.parse(this.startDate)) / (1000 * 60 * 60 * 24);
        await this.placeFits();
        this.showPrice = true;
      }
    },
    async placeFits() {
      const newData = [];
      for (const place of this.placesData) {
        const boatFit = await boatFitsInPlace(place);
        const alreadyBooked = await placeAlreadyBooked(place, this.startDate, this.endDate, this.portName);

        newData.push({...place, booked: !boatFit || alreadyBooked});
      }
      this.placesData = newData;
    },
},
};
</script>

<style scoped>
@import "../../assets/css/textStyles.css";
* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
div {
  margin-top: 1.5%;
  margin-left: 20%;
}

.choosedate {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  margin-top: 0;
}

input {
  margin: 10px;
}
a {
  font-weight: 400;
}
</style>
