<template>
  <div>
    <SideBar/>
    <div id="port">
      <Table
      />
      <CaptainPort id="map"/>
    </div>
  </div>
</template>

<script>
import SideBar from "../components/PortCaptainSidebar";
import CaptainPort from "../components/PortCaptainMyPort/CaptainPortMap";
import Table from "../components/PortCaptainMyPort/CaptainPlacesTable";

export default {

  components: {
    CaptainPort,
    SideBar,
    Table
  }
};
</script>

<style>
#port {
  margin-top: 3%;
  margin-left: 30%;
}

#map {
  margin-top: 1.5%;
}
</style>
