<template>
  <div class="entire-component">
    <div v-if="error" class="error">{{ error.message }}</div>
    <img :src="blueLogo" class="logo-image" alt="PortBooker"/>
    <div class="login-component">
      <div class="formbg-outside">
        <div class="form-background">
          <div class="formbg-inside blue-bold-text">
            <span class="welcome-message blue-bold-text">Apply for account</span>
            <form @submit.prevent="pressed" id="login-form">
              <div class="column-pos">
                <div class="first-column">
                  <div class="fill-field field">
                    <label class="blue-small-text">Port captain's full name*</label>
                    <input
                        type="text"
                        v-model="fullName"
                        name="fullName"
                        placeholder="Full name..."
                        required
                    />
                  </div>
                  <div class="fill-field field">
                    <label class="blue-small-text">Email*</label>
                    <input
                        type="email"
                        v-model="email"
                        name="email"
                        placeholder="Email..."
                        required
                    />
                  </div>
                  <div class="fill-field field">
                    <label class="blue-small-text">Password*</label>
                    <input
                        type="password"
                        v-model="password"
                        name="password"
                        id="password"
                        placeholder="Password..."
                        required
                    />
                  </div>
                  <div class="fill-field field">
                    <label class="blue-small-text">Confirm password*</label>
                    <input
                        type="password"
                        v-model="confirmPassword"
                        name="password"
                        id="confirm_password"
                        placeholder="Confirm password..."
                        required
                    />
                  </div>
                  <div class="fill-field field">
                    <label class="blue-small-text">Phone number*</label>
                    <input
                        type="tel"
                        v-model="phone"
                        name="phone"
                        id="phone"
                        placeholder="Phone number..."
                        required
                    />
                  </div>
                </div>
                <div class="second-column">
                  <div class="fill-field field">
                    <label class="blue-small-text">Name of your port*</label>
                    <input
                        type="text"
                        v-model="portName"
                        name="portName"
                        placeholder="Port name..."
                        required

                    /></div>
                  <div class="fill-field field">
                    <label class="blue-small-text">Address*</label>
                    <input
                        type="text"
                        v-model="address"
                        name="address"
                        placeholder="Address..."
                        required
                    />
                  </div>
                  <div class="fill-field field">
                    <label class="blue-small-text">Coordinates*</label>
                    <input
                        type="text"
                        v-model="coordinates"
                        name="coordinates"
                        placeholder="Coordinates..."
                        required
                    />
                  </div>
                  <div class="fill-field field">
                    <label class="blue-small-text">Radio call*</label>
                    <input
                        type="text"
                        v-model="radioCall"
                        name="radioCall"
                        placeholder="Radio call..."
                        required
                    />
                  </div>
                  <div class="fill-field field">
                    <label class="blue-small-text">Webpage</label>
                    <input
                        type="text"
                        v-model="webpage"
                        name="webpage"
                        placeholder="Webpage..."
                    />
                  </div>
                  <BlueButtonL
                      type="submit"
                      method="post"
                      msg="Apply"
                      name="Apply"
                      class="submit-button"
                      @click="validateInputs"
                  />
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="footer-link">
          <span class="blue-small-text"
          >Have an account?
            <router-link to="/admin">
              <a class="blue-bold-text" id="sign-up-underline">
                Log in
              </a>
            </router-link>
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {BlueButtonL} from "../../shared/components/buttons";
import {PortsService} from "../../../../portbooker-backend/services/PortsService"
import {addCaptain} from "../../../../portbooker-backend/services/UserCaptainService";

require("firebase/auth");
export default {
  name: "loginComponent",
  components: {BlueButtonL},
  data: function () {
    return {
      blueLogo: require("@/assets/portbookerLogoBlue.svg"),
      password: "",
      confirmPassword: "",
      email: "",
      error: "",
      fullName: "",
      phone: "",
      portName: "",
      address: "",
      coordinates: "",
      radioCall: "",
      webpage: ""

    };
  },
  methods: {
    async pressed() {
      try {
        await addCaptain(this.fullName, this.email, this.password, this.phone, this.portName)
        const newPort = new PortsService(this.address, this.coordinates, this.email, this.phone, this.portName, this.radioCall, this.webpage)
        await newPort.addPortApplication()
        await this.$router.push("/admin/login")
      } catch (err) {
        alert(err.message);
      }
    },
    validateInputs() {
      this.validatePhoneNumber();
      this.validatePasswords();
    },
    validatePasswords() {
      const password = document.getElementById("password")
      const confirm_password = document.getElementById("confirm_password");
      if(password.value !== confirm_password.value) {
        confirm_password.setCustomValidity("Passwords Don't Match");
      } else {
        confirm_password.setCustomValidity('');
      }
    },
    validatePhoneNumber() {
      const phone = document.getElementById("phone")
      const regex =/^[+\d](\d)*?$/
      if(regex.test(phone.value)) {
        phone.setCustomValidity('');
      } else {
        phone.setCustomValidity("Please validate your phone number");
      }
    }
  },
};
</script>
<style scoped>
@import "../../assets/css/textStyles.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  word-wrap: break-word;
}

.column-pos {
  display: flex;
  justify-content: space-between;
}

#sign-up-underline {
  text-decoration: underline;
}

h1 {
  letter-spacing: -1px;
}

.entire-component {
  z-index: 1;
}

a {
  text-decoration: unset;
}

.fill-field {
  padding-bottom: 24px;
}

.footer-link {
  padding-top: 24px;
}

.welcome-message {
  padding-bottom: 10px;
}

a:visited {
  color: #24305e;
}

.logo-image {
  padding-bottom: 12px;
  width: 35%;
}

.formbg-inside {
  padding: 20px 40px 10px 40px;
}

form {
  display: flex;
  justify-content: space-between;
}


.formbg-outside {
  padding-bottom: 0;
}

.login-component {
  box-sizing: border-box;
  position: absolute;
  justify-content: center;
  background: transparent;
  display: flex;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.submit-button {
  width: 100%;
  margin-top: 12px;
}

.form-background {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  min-width: 415px;
  height: 100%;
  max-height: 550px;
  min-height: 415px;
  background: white;
  border-radius: 4px;
  box-shadow: rgba(60, 66, 87, 0.12) 0 7px 14px 0,
  rgba(0, 0, 0, 0.12) 0 3px 6px 0;
}

span {
  display: block;
  line-height: 20px;
}

label {
  margin: auto 0 0 0;
  text-align: left;
}

.reset-pass a,
label {
  font-size: 14px;
  font-weight: 600;
  display: block;
}

.reset-pass > a {
  text-align: right;
  margin-bottom: 10px;
}

.first-column {
  margin: 0 10px;
}

.second-column {
  margin: 0 10px;
}

.field input {
  font-size: 16px;
  line-height: 28px;
  padding: 8px 16px;
  width: 100%;
  min-height: 44px;
  border: unset;
  border-radius: 4px;
  outline-color: rgb(84 105 212);
  background-color: rgb(255, 255, 255);
  box-shadow: #3c4257 0 0 0 1px;

}


input[method="post"] {
  background-color: rgb(84, 105, 212);
  border: solid 1px rgba(60, 66, 87, 0.16);
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.field-checkbox input {
  width: 20px;
  height: 15px;
  margin-right: 5px;
  box-shadow: unset;
  min-height: unset;
}

.field-checkbox label {
  display: flex;
  align-items: center;
  margin: 0;
}

.footer-link span {
  text-align: center;
}
</style>
