<template>
  <div class="incoming">
    <table>
      <div class="table-name">
        Incoming Bookings
      </div>
      <thead>
      <tr class="header">
        <th>Name</th>
        <th>Passengers</th>
        <th>Stay</th>
        <th>Spot</th>
        <th>Paid</th>
      </tr>
      </thead>
      <div class="scrollbar">
        <tbody class="table-hover" v-for="incomingBooking in incomingBookings" :key="incomingBooking.name">
        <tr>
          <td>{{ incomingBooking.name }}</td>
          <td><img src="../../assets/icons/peopleIcon.jpg" class="icon"> {{ incomingBooking.passengers }}</td>
          <td>{{ formatDate(incomingBooking.startTime)}} - {{ formatDate(incomingBooking.endTime) }}</td>
          <td>{{ incomingBooking.placeId }}</td>
          <td v-if="incomingBooking.paid === true"><img src="../../assets/icons/greenCheckmark.svg" class="icon" alt="true"></td>
          <td v-if="incomingBooking.paid === false"><img src="../../assets/icons/redCross.svg" class="icon" alt="false"></td>
          <td><img src="../../assets/icons/editIcon.svg" class="edit" @click="openEditModal(incomingBooking)"></td>

        </tr>
        </tbody>
      </div>
      <common-modal
          v-if="showModal "
          v-model="showModal"
          @cancel="cancel"
      >
        <template v-slot:title></template>
        <div class="text">
          <h1 class="blue-bold-header">Edit booking</h1>

          <h2 class="blue-mid-text row">Boat captain: {{ this.editableBooking.name }}</h2>
          <h2 class="blue-mid-text row">Place Id:
            <input v-model="this.editableBooking.placeId" type="number" class="numberInput" min="1"/>
          </h2>
          <h2 class="blue-mid-text row">Start date:
            <input type="date" v-model="this.editableBooking.startTime" v-on:change="updateDate()"/>
          </h2>
          <h2 class="blue-mid-text row">End date:
            <input type="date" id="endtime" v-model="this.editableBooking.endTime"/>
          </h2>
          <h2 class="blue-mid-text row">Number of passengers:
            <input v-model="this.editableBooking.passengers" type="number" class="numberInput" min="1"/>
          </h2>
          <h2 class="blue-mid-text row">Paid:
            <input class="checkbox" v-model="this.editableBooking.paid" type="checkbox">
          </h2>
          <h2 class="red-mid-text underline" @click="deleteBooking">Delete booking</h2>

        </div>
        <div class="picAndButton">
          <img :src="logo" alt="logo"/>
          <div class="buttonDiv">
            <blue-button-m
                @click="updateBooking"
                msg="Confirm"
                class="confirmButton"
                id="confirm"
            ></blue-button-m>
            <blue-button-m
                @click="cancel"
                msg="Cancel"
                class="cancelButton"
                id="cancel"
            ></blue-button-m>
          </div>
        </div>
      </common-modal>
    </table>
  </div>
</template>

<script>
import CommonModal from "../../BoatOwner/components/CommonModal";
import BlueButtonM from "../../shared/components/buttons/BlueButtonM.vue";
import {formatDate, formatDateToDefaultValue} from "@/shared/formatting";
import {
  deleteBooking,
  editBooking,
  getIncomingPortBookings
} from "../../../../portbooker-backend/services/BookingsService";
import firebase from "../../../../portbooker-backend/firebase";
import {getUser} from "../../../../portbooker-backend/services/UsersService";

export default {
  name: "incomingBookings",
  components: {CommonModal, BlueButtonM},

  async created() {
    await this.getIncomingBookings();
  },
  methods: {
    openEditModal(incomingBooking) {
      this.editableBooking = {...incomingBooking}
      this.showModal = true
    },
    async updateBooking() {
      const newData = (({passengers, startTime, endTime, placeId, paid}) => ({passengers, startTime, endTime, placeId, paid}))(this.editableBooking)
      await editBooking(this.portName, this.editableBooking.documentId, newData);
      this.incomingBookings = [];
      await this.getIncomingBookings();
      this.showModal = false;
    },
    cancel() {
      this.showModal = false;
    },
    updateDate: function () {
      if (new Date(this.editableBooking.startTime) > new Date(this.editableBooking.endTime)) {
        this.editableBooking.endTime = new Date(new Date(this.editableBooking.startTime).getTime() + 24 * 60 * 60 * 1000).toISOString().split('T')[0];
        document.getElementById("endtime").value = this.editableBooking.endTime;
      }
    },
    getIncomingBookings: async function () {
      await firebase.auth().onAuthStateChanged(async (user) => {
        if (user) {
          await getUser(user.uid).then((data) => {
            this.portName = data.portName
            this.userName = data.fullName
          });
          await getIncomingPortBookings(this.portName).then(bookings => {
            bookings.forEach(booking => {
              this.incomingBookings.push({name: this.userName, ...booking})
            })
          })
        }
      });
    },
    async deleteBooking() {
      await deleteBooking(this.portName, this.editableBooking.documentId);
      this.incomingBookings = [];
      await this.getIncomingBookings();
      this.showModal = false;

    },
  },
  data() {
    return {
      logo: require("../../assets/portbooker.png"),
      pass: "",
      editableBooking: {
        name:  String,
        passengers: String,
        startTime: String,
        endTime: String,
        placeId: Number,
        paid: Boolean,
        documentId: String,
      },
      incomingBookings: [],
      userName: String,
      portName: String,
      incomingBooking: {
        passengers: String,
        startTime: String,
        endTime: String,
        placeId: Number,
        paid: Boolean,
        documentId: String,
      },
      showModal: false,
      formatDate,
      formatDateToDefaultValue
    };
  },
};
</script>

<style scoped>
.icon {
  height: 15px;
  width: 15px;
}

.edit{
  height: 20px;
  width: 20px;
  margin-top: 5px;
  cursor: pointer;
}

input {
  margin-left: 10px;
}

.checkbox {
  height: 20px;
  width: 20px;
}

.underline {
  text-decoration: underline;
  cursor: pointer;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.numberInput{
  width: 35px;
  text-align: left;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

h1 {
  text-align: left;
  padding: 30px 30px 3px 10px;
  margin: 20px 0 0 30px;
}

h2 {
  text-align: left;
  padding: 30px 30px 3px 10px;
  margin: 0 0 0 30px;
}

.picAndButton {
  margin: 50px 0 0 200px;
  display: flex;
  flex-direction: column;
  justify-content: right;
}

.buttonDiv {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin: 50px 0 0 10px;
}

.confirmButton {
  margin: 10px;
}

.cancelButton {
  margin: 10px;
}

img {
  width: 300px;
}

.incoming {
  padding-top: 45px;
}

.table-name {
  background: #a8d0e6;
  border-radius: 10px 10px 0 0;
  font-size: 20px;
  padding: 12px;
  max-width: 945px;
  width: 100%;
  font-weight: bold;
}
table {
  border-collapse: separate;
  border-spacing: 0 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  height: 600px;
  max-width: 970px;
  width: 100%;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
}

th {
  font-size: 20px;
  font-weight: 300;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 140px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align: middle;
}
.header th {
  font-weight: bold;
}
.header th:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 30px;
  padding-right: 30px;
}
.header th:nth-child(3) {
  padding-left: 50px;
  padding-right: 40px;
}
.header th:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-right: 80px;
}

.scrollbar td:nth-child(5) {
  padding-left: 80px;
}
.scrollbar td:last-child {
  padding-right: 10px;
}

tr {
  background-color: #eef4f8;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:hover td{
  background: #a8d0e6;
  color: #24305e;
}

tr:first-child {
  border-top: none;
}

tr:last-child {
  border-bottom: none;
}

td {
  padding: 5px 50px;
  text-align: center;
  font-weight: 300;
  font-size: 16px;
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.1);
}

tr td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
tr td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.scrollbar {
  overflow: scroll;
  overflow-x: hidden;
  height: 490px;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;

}
</style>
