<template>
  <div class="entire-component">
    <img :src="blueLogo" class="logo-image" alt="PortBooker"/>
    <div class="login-component">
      <div class="formbg-outside">
        <div class="form-background">
          <div class="formbg-inside blue-bold-text">
            <span v-if="boatOwnerView" class="welcome-message blue-bold-text">Welcome boat owner!</span>
            <span v-else class="welcome-message blue-bold-text">Welcome port captain!</span>
            <span class="welcome-message blue-bold-text"
            >Sign in to your account</span
            >
            <span v-if="boatOwnerView" class="blue-small-text admin-sign-in">
                <router-link class="blue-small-text sign-up-underline" to="/admin">I am a port captain</router-link>
              </span>
            <span v-else class="blue-small-text admin-sign-in">
                <router-link class="blue-small-text sign-up-underline" to="/">I am a boat owner</router-link>
              </span>
            <form @submit.prevent="pressed" id="login-form">
              <div class="fill-field field">
                <label class="blue-small-text">Email</label>
                <input
                    type="email"
                    v-model="email"
                    name="email"
                    placeholder="Email..."
                    id = "email"
                />
              </div>
              <div class="fill-field field">
                <div class="password-field">
                  <label class="blue-small-text">Password</label>
                  <div class="reset-pass">
                    <router-link to="/" class="sign-up-underline">Forgot your password?</router-link>
                  </div>
                </div>
                <input
                    type="password"
                    v-model="password"
                    name="password"
                    placeholder="Password..."
                    id = "logInPassword"
                />
              </div>
              <div class="blue-button">
                <BlueButtonL
                    type="submit"
                    method="post"
                    msg="Submit"
                    name="Submit"
                    class="submit-button"
                    id="logIn"
                />
              </div>
            </form>
            <span class="blue-small-text sign-up-link">
              Don't have an account?
              <router-link class="blue-small-text sign-up-underline" id="sign-up" v-bind:to="getSignUpRoute()">
                {{ renderSignUpText() }}
              </router-link>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import firebase from "../../../../../portbooker-backend/firebase";

require("firebase/auth");
import {BlueButtonL} from "@/shared/components/buttons";
import {getUser} from "../../../../../portbooker-backend/services/UsersService";

export default {
  name: "LoginComponent",
  components: {BlueButtonL},
  data() {
    return {
      blueLogo: require("@/assets/portbookerLogoBlue.svg"),
      password: "",
      email: "",
      error: "",
    };
  },
  props: {
    route: String,
    boatOwnerView: Boolean,
  },
  methods: {
    async pressed() {
      if(this.boatOwnerView) {
        await this.routeFromLoginPage("/browse")
      }
      else {
        await this.routeFromLoginPage("/admin/port")
      }
    },
    async routeFromLoginPage(path) {
      try {
        await firebase
            .auth()
            .signInWithEmailAndPassword(this.email, this.password);

        await firebase
            .auth()
            .onAuthStateChanged(async (user) => {
          if (user) {
            await getUser(user.uid).then(databaseUser => {
                  this.$store.commit('updateName' ,databaseUser.fullName);
                }
            );
          }
        });

        await this.$router.push(path);
      } catch (err) {
        alert(err.message);
      }
    },
    renderSignUpText() {
      return this.boatOwnerView ? 'Sign up' : 'Apply for an account';
    },
    getSignUpRoute() {
      return this.boatOwnerView ? '/register' : '/admin/register';
    },
  },
};
</script>
<style scoped>
@import "../../../assets/css/textStyles.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  word-wrap: break-word;
}

.sign-up-underline {
  text-decoration: underline;
}

h1 {
  letter-spacing: -1px;
}

.entire-component {
  z-index: 1;
}

a {
  text-decoration: unset;
}

.fill-field {
  padding-bottom: 24px;
}

.sign-up-link {
  margin-top: 50px;
}

.welcome-message {
  padding-bottom: 10px;
}

.blue-button {
  padding-bottom: 24px;
  align-content: center;
}

a:visited {
  color: #24305e;
}

.logo-image {
  padding-bottom: 12px;
  width: 35%;
}

.formbg-inside {
  padding: 48px;
}

.formbg-outside {
  padding-bottom: 0;
}

.login-component {
  box-sizing: border-box;
  position: absolute;
  justify-content: center;
  background: transparent;
  display: flex;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.submit-button {
  width: 100%;
}

.form-background {
  margin: 0 auto;
  width: 100%;
  max-width: 460px;
  min-width: 415px;
  height: 100%;
  max-height: 460px;
  min-height: 415px;
  background: white;
  border-radius: 4px;
  box-shadow: rgba(60, 66, 87, 0.12) 0 7px 14px 0,
  rgba(0, 0, 0, 0.12) 0 3px 6px 0;
}

span {
  display: block;
  line-height: 28px;
}

label {
  margin: auto 0 10px 0;
  text-align: left;
}

.reset-pass a,
label {
  font-size: 14px;
  font-weight: 600;
  display: block;
}

.reset-pass > a {
  text-align: right;
  margin-bottom: 10px;
}

.password-field {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}

.field input {
  font-size: 16px;
  line-height: 28px;
  padding: 8px 16px;
  width: 100%;
  min-height: 44px;
  border: unset;
  border-radius: 4px;
  outline-color: rgb(84 105 212);
  background-color: rgb(255, 255, 255);
  box-shadow: #3c4257 0 0 0 1px;
}

input[method="post"] {
  background-color: rgb(84, 105, 212);
  border: solid 1px rgba(60, 66, 87, 0.16);
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.field-checkbox input {
  width: 20px;
  height: 15px;
  margin-right: 5px;
  box-shadow: unset;
  min-height: unset;
}

.field-checkbox label {
  display: flex;
  align-items: center;
  margin: 0;
}

.admin-sign-in {
  text-align: right;
}

.footer-link span {
  text-align: center;
}
</style>
