<template>
  <div>
    <router-link v-if=routeLink :to=routeLink>
      <button class="white-mid-text">
        {{ msg }}
      </button>
    </router-link>
    <button v-else type="type" class="white-mid-text">
      {{ msg }}
    </button>
  </div>
</template>

<script>
export default {
  name: "BlueButtonL",
  props: {
    routeLink: {
      type: String
    },
    type: {
      type: String
    },
    msg: {
      type: String,
      default: 'Log into your account'
    }
  }

}
</script>

<style scoped>
  * {
    width: 100%;
  }
  button {
    background: #374785;
    padding:15px 15px 15px 15px;
    min-width: 160px;
    height: auto;
    border-radius: 10px;
    text-align: center;
    border: none;
  }
</style>
