<template>
  <button class="blue-small-text">
    {{ msg }}
  </button>
</template>

<script>
export default {
  name: "BlueBorderBtn",
  props: {
    msg: {
      type: String,
      default: 'Cancel booking'
    }
  }
}
</script>

<style scoped>
  button {
    background: transparent;
    align-content: center;
    padding:5px 15px 5px 15px;
    width: auto;
    min-width: 100px;
    height: auto;
    border: 3px solid #374785;
    border-radius: 10px;
    text-align: center;
  }
</style>
