<template>
  <div @click="buttonAction" id="calendar-button">
    <img src="@/assets/icons/calendarIcon.svg" alt="calendar" id="calendar-img">
  </div>
</template>

<script>
export default {
  name: "CalendarButton",
  methods: {
    buttonAction() {

    }
  }
}
</script>

<style scoped>
#calendar-img {
  width: 20px;
  height: 20px;
}
#calendar-button {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
</style>
