<template>
  <button v-if="borderInclude" @click="buttonAction">
    <img src="@/assets/icons/checkmarkButtonImage.svg" alt="">
  </button>
  <img @click="buttonAction" v-else src="@/assets/icons/checkmarkButtonImage.svg" alt="checkbox">
</template>

<script>
export default {
  name: "CheckboxButton",
  props: {
    borderInclude: {
      type: Boolean,
      default: true,
    }
  },
  methods: {
    buttonAction() {

    }
  }
}
</script>

<style scoped>
  button {
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    background: transparent;
    border: 2px solid #A8D0E6;
    border-radius: 5px;
  }
  img {
    width: 10px;
    height: 10px;
    cursor: pointer;
  }
</style>
