<template>
  <div @click="deleteAction" id="delete-button">
    <img src="@/assets/icons/garbage-can.png" alt="delete" id="garbage-img">
  </div>
</template>

<script>
export default {
  name: "DeleteButton",
  methods: {
    deleteAction() {

    }
  }
}
</script>

<style scoped>
  #garbage-img {
    width: 15px;
    height: 20px;
  }
  #delete-button {
    width: 15px;
    height: 20px;
    cursor: pointer;
  }
</style>
