<template>
  <div @click="buttonAction" id="edit-button">
    <img src="@/assets/icons/editIcon.svg" alt="edit" id="editIcon_img">
  </div>
</template>

<script>
export default {
  name: "EditButtonIcon",
  methods: {
    buttonAction() {

    }
  }
}
</script>

<style scoped>
#editIcon_img {
  width: 20px;
  height: 20px;
}
#edit-button {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
</style>
