<template>
  <button class="blue-bold-text">
    {{ msg }}
  </button>
</template>

<script>
export default {
  name: "LightBlueBorderBtn",
  props: {
    msg: {
      type: String,
      default: 'Edit'
    }
  }
}
</script>

<style scoped>
  button {
    background: transparent;
    align-content: center;
    padding:10px 10px 10px 10px;
    width: auto;
    height: auto;
    border: 3px solid #A8D0E6;
    border-radius: 10px;
    text-align: center;
  }
</style>
