<template>
  <vue-final-modal v-slot="{ params, close }" v-bind="$attrs" classes="modal-container" content-class="modal-content">
    <span class="modal__title">
      <slot name="title"></slot>
    </span>
    <div class="modal__content">
      <slot :params="params"></slot>
    </div>
    <div class="modal__action">
    </div>
    <button class="modal__close" @click="close">X
    </button>
  </vue-final-modal>
</template>

<script>
import { VueFinalModal } from 'vue-final-modal'

export default {
  name: 'CommonModal',
  inheritAttrs: false,
  emits: ['confirm', 'cancel'],
  components: {
    VueFinalModal},
}
</script>

<style scoped>
::v-deep(.modal-container) {
  display: flex;
  justify-content: center;
  align-items: center;
}
::v-deep(.modal-content) {
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: 90%;
  margin: 0 1rem;
  padding: 1rem;
  border: 1px solid #e2e8f0;
  border-radius: 0.5rem;
  background: #EEF4F8;
}
.modal__title {
  margin: 0 2rem 0 0;
  font-size: 2rem;
  font-weight: 700;
  text-align: left;
  margin-bottom: 10px;
}
.modal__content {
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  justify-content: space-between;
  width: 900px;
  height: 500px;
}
img {
  object-fit: cover;
  width: 50%;
  padding-top: 3px;
}
.modal__action {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: 1rem 0 0;
}
.modal__close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  text-align: right;
  background-color: #EEF4F8;
  width: 2px;
}

</style>
