<template>
  <div class="text">
    <h1 class="blue-bold-header">Booking details</h1>
    <h2 class="blue-big-text">Place info</h2>
    <h3 class="blue-mid-text">Width: {{ placeData.width }} m</h3>
    <h3 class="blue-mid-text">Depth: {{ placeData.depth }} m</h3>
    <h3 class="blue-mid-text">Length: {{ placeData.length }} m</h3>
    <h2 class="blue-big-text">Booking info</h2>
    <h3 class="blue-mid-text">Price: {{ placeData.price * numberOfDays }} €</h3>
    <h3 class="blue-mid-text">Start date: {{ formatDate(startDate) }}</h3>
    <h3 class="blue-mid-text">End date: {{ formatDate(endDate) }}</h3>
  </div>
</template>

<script>

import {formatDate} from "../../shared/formatting";

export default {
  props: {
    startDate: String,
    endDate: String,
    numberOfDays: Number,
    placeData: Object
  },
  data() {
    return {
      formatDate,
    }
  }
};
</script>

<style scoped>


.text {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

h1 {
  padding: 10px;
  text-align: left;
  margin: 5px 0;
}

h2 {
  text-align: left;
  padding-left:10px;
}

h3 {
  text-align: left;
  margin: 0;
  padding: 3px 0 3px 10px;
}

</style>