<template>
  <div class="centerModal">
    <img :src="logoWithText"  alt="logo" id="logoWithText"/>
    <h1 id="successfulBooking">Booking has been successfully made</h1>
    <h2 class="successInfo">It will be confirmed after the payment</h2>
    <div class="buttonDiv">
      <blue-button-m class="actionButton" msg="Book another place" @click="goBackHome()"></blue-button-m>
      <blue-button-m class="actionButton" msg="Log out" @click="logOut"></blue-button-m>
    </div>
  </div>
</template>

<script>
import BlueButtonM from "../../shared/components/buttons/BlueButtonM";

export default {
  components: {BlueButtonM},
  methods: {

    goBackHome() {
      this.paymentSelected = false;
      this.$router.push("/browse");
    },

    logOut() {
      this.$router.push("/");
    },

  },
  data() {
    return {
      logoWithText: require("@/assets/PortBookerBlueLogo.png"),
    };
  },
}

</script>

<style scoped>

  #successfulBooking {
    color: #3cb371;
  }

  .successInfo {
    text-align: left;
    padding: 0 0 0 10px;
    justify-content: center;
    display: flex;
  }

  .centerModal {
    padding-top: 6%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }

  .buttonDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px 0 0 10px;
  }

  .actionButton {
    margin: 10px;
  }

  #logoWithText {
    padding-bottom: 4%;
    width: 400px;
  }

</style>