<template>
  <div class="pageNotFound">
      <img :src="logo" class="logo">

      <h1 id="error"> 404 Page Not Found!</h1>
      <h2>The pirates have taken this page with them and there is no way we could retrieve it</h2>
      <img :src="boatImage" class="boatImage">
      <blue-button-s class="centerButton" msg="Go back home" @click=goBackHome></blue-button-s>
  </div>
</template>

<script>
import BlueButtonS from '@/shared/components/buttons/BlueButtonS.vue'
import PortBookerBlueLogo from "@/assets/PortBookerBlueLogo.png"
import PageNotFoundShip from "@/assets/PageNotFoundShip.png"

  export default {
    components: {
       BlueButtonS
    },
    methods:{
      goBackHome(){
        this.$router.push('/browse');
      }
    },
    data: function () {
      return {
          logo: PortBookerBlueLogo,
          boatImage: PageNotFoundShip
      }
    }
  }
</script>

<style scoped>
h1 {
  text-align: center;
}
  h2 {
    color: #374785;
    margin: 2%;
    text-align: center;
  }

  #error {
    color: #F76C6C;
  }


  .logo {
    margin-top: 5%;
    width: 35%;
    margin-bottom: 2%;
    min-width: 300px;
  }

  .boatImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    min-width: 100px;
  }

  .centerButton {
    position: absolute;
    left: 50%;
    margin: 0 0 0 -60px;
  }

@media screen and (max-width:720px) {
  h1 {
    font-size: 24px;
  }

  .logo {
    padding: 5%;
    margin-top: 10%;
  }

  .boatImage {
    margin-top: 10%;
  }
}
</style>
