<template>
  <div>
    <div class="sideBar">
      <img id="logo" alt="Portbooker" src="@/assets/portbookerWhite.png"/>
      <div class="fullNavigation">
        <div class="accountInfo">
          <img
              class="profilepic"
              src="@/assets/profilepic.png"
              alt="profilepicture"
          />
          <h3 class="accountName white-mid-text">{{ username }}</h3>
        </div>
        <div class="navigation">
          <h3>Menu</h3>
          <router-link to="/admin/port">
            <button class="white-small-text" v-bind:class="{ active: activePort }">
              My Port
            </button>
          </router-link>
          <router-link to="/admin/incoming">
            <button class="white-small-text" v-bind:class="{ active: activeIncoming }">
              Incoming Bookings
            </button>
          </router-link>
        </div>
        <div class="account">
          <h3>Account</h3>
          <router-link to="/admin/settings">
            <button class="white-small-text" v-bind:class="{ active: activeAccount }">
              Account info
            </button>
          </router-link>
          <router-link to="/admin">
            <button class="white-small-text" @click="signOut()">
              Log out
            </button>
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import firebase from "../../../../../portbooker-backend/firebase";


require("firebase/auth");

export default {
  created() {
    this.username = this.$store.state.name
  },
  data() {
    return {
      username: "",
      activePort: this.$router.currentRoute.value.path === '/admin/port',
      activeIncoming: this.$router.currentRoute.value.path === '/admin/incoming',
      activeAccount: this.$router.currentRoute.value.path === '/admin/settings',
    };
  },
  methods: {
    async signOut() {
      try {
        await firebase.auth().signOut()
        await this.$router.push("/admin")
      } catch (err) {
        alert(err.message);
      }
    }
  },
};
</script>


<style>
@import "../../../assets/css/textStyles.css";

.sideBar {
  height: 100%;
  background-color: #374785;
  color: #eef4f8;
  position: absolute;
  width: 15%;
  top: 0;
  bottom: 0;
  left: 0;
}

.active {
  background: linear-gradient(to right, #24305e 97%, #f76c6c 3%);
}

.accountInfo {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}

#logo {
  margin-top: 15%;
  width: 100%;
}

.accountName {
  overflow: auto;
  white-space: break-spaces;
  margin-right: 5%;
  margin-left: 5%;
}

h3 {
  margin-left: 10%;
  margin-bottom: 5%;
  float: left;
}

.profilepic {
  width: 20%;
  height: 20%;
}

.account {
  margin-top: 100%;
}

.navigation {
  margin-top: 10%;
  background-color: #374785;
}

button {
  background-color: #374785;
  width: 100%;
  padding: 10px 15px 10px 30px;
  float: left;
  border: transparent;
  text-align: left;
}

button:hover {
  background-color: #24305e;
}
</style>
