<template>
  <body>
    <div id="nav">
      <router-view />
    </div>
  </body>
</template>

<script>

export default {
  name: 'App'
}
</script>

<style>
@import "assets/css/textStyles.css";
body,
html {
  padding: 0;
  margin: 0;
  width: 100%;
}
::-webkit-scrollbar { display: none; }
body {
  background-color: #eef4f8;
}

#app {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
button {
  cursor: pointer;
}
</style>
