<template>
  <div>
    <table>
      <thead>
      <tr class="header">
        <th>Place ID</th>
        <th>Width (m)</th>
        <th>Depth (m)</th>
        <th>Length (m)</th>
        <th>Price (€/day)</th>
      </tr>
      </thead>
      <div class="scrollbar">
        <tbody class="table-hover" v-for="place in tableData" :key="place.id">
        <tr v-if="!place.booked" @click="openModal(place)">
          <td>{{ place.id }}</td>
          <td>{{ place.width }}</td>
          <td>{{ place.depth }}</td>
          <td>{{ place.length }}</td>
          <td class="price" v-if="showPrice">{{ place.price }}</td>
          <td class="price" v-else>-</td>
        </tr>
        </tbody>
      </div>
    </table>

    <common-modal
        v-if="show"
        v-model="show"
        @confirm="confirm"
        @cancel="cancel"
    >
      <template v-slot:title></template>
      <div class="text">
        <PlaceForBookingInfo
            :startDate="startDate"
            :endDate="endDate"
            :numberOfDays="numberOfDays"
            :placeData="placeData"/>
        <h3 class="blue-mid-text">Number of passengers:
          <input type="number" id="numberOfPassengers" min="1"/>
        </h3>
      </div>
      <div class="picAndButton">
        <img :src="logo" alt="logo"/>
        <div class="buttonDiv">
          <blue-button-m
              @click="confirm(placeData.id, startDate, endDate, placeData.price * numberOfDays, numberOfPassengers())"
              msg="Pay with invoice"
              class="payButton"
          ></blue-button-m>
          <blue-button-m
              @click="confirm(placeData.id, startDate, endDate, placeData.price * numberOfDays, numberOfPassengers())"
              msg="Pay in cash"
              class="payButton"
          ></blue-button-m>
        </div>
      </div>
    </common-modal>

    <common-modal
        v-if="paymentSelected"
        v-model="paymentSelected"
        @confirm="confirm"
        @cancel="cancel"
    >
      <SuccessfulBookingInfo></SuccessfulBookingInfo>
    </common-modal>
  </div>
</template>

<script>
import BlueButtonM from "../../../shared/components/buttons/BlueButtonM.vue";
import CommonModal from "@/BoatOwner/components/CommonModal.vue";
import {formatDate} from "../../../shared/formatting";
import firebase from "../../../../../portbooker-backend/firebase"
import {BookingsService} from "../../../../../portbooker-backend/services/BookingsService";
import SuccessfulBookingInfo from "../SuccessfulBookingInfo";
import PlaceForBookingInfo from "../PlaceForBookingInfo";

require("firebase/auth");

export default {
  name: "Table",
  props: {
    tableData: Array,
    startDate: String,
    endDate: String,
    showPrice: Boolean,
    numberOfDays: Number,
  },
  data() {
    return {
      show: false,
      placeData: null,
      portName: this.$store.state.port,
      logo: require("@/assets/portbooker.png"),
      formatDate,
      paymentSelected: false,
    };
  },
  components: {PlaceForBookingInfo, CommonModal, SuccessfulBookingInfo, BlueButtonM},
  methods: {
    async confirm(placeId, startTime, endTime, price, passengers) {
      if (passengers === '') {
        alert("Please specify passengers");
        return;
      }
      const currentUser = firebase.auth().currentUser.uid;
      const newBooking = new BookingsService(currentUser, placeId, startTime, endTime, price, passengers, this.portName, false);
      await newBooking.createBooking(this.portName);
      this.paymentSelected = true;
      this.show = false;
    },
    cancel() {
      this.show = false;
      this.paymentSelected = false;
    },
    openModal(data) {
      if (this.numberOfDays) {
        this.placeData = data;
        this.show = true;
      } else {
        alert("Fill dates for prices");
      }
    },
    numberOfPassengers() {
      return document.getElementById('numberOfPassengers').value;
    }
  },
};
</script>

<style scoped>
.payButton {
  margin: 10px;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.picAndButton {
  margin: 50px 0 0 200px;
  display: flex;
  flex-direction: column;
  justify-content: right;
}

.payButton {
  margin: 10px;
}

#numberOfPassengers{
  border: 2px solid #24305e;
  border-radius: 4px;
  width: 35px;
  text-align: left;
}

input:focus {
  outline: none;
}

.buttonDiv {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin: 50px 0 0 10px;
}

#numberOfPassengers{
  border: 2px solid #24305e;
  border-radius: 4px;
  width: 35px;
  text-align: left;
}

input:focus {
  outline: none;
}

.buttonDiv {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin: 50px 0 0 10px;
}

table {
  border-collapse: separate;
  border-spacing: 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  table-layout: fixed;
  background: white;
  height: 200px;
  max-width: 800px;
  width: 100%;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
  border-radius: 10px;
  padding: 5px 5px 10px;
}

th {
  color: #24305e;
  background: #a8d0e6;
  font-size: 20px;
  font-weight: 300;
  padding: 8px;
  width: 130px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align: middle;
}

.header th:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.header th:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

tr {
  background-color: #eef4f8;
  font-size: 16px;
  font-weight: normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
  margin: 8px;
}

tr:hover td {
  background: #a8d0e6;
  color: #24305e;
}

tr:first-child {
  border-top: none;
}

tr:last-child {
  border-bottom: none;
}

td {
  color: #24305e;
  padding: 5px 65px;
  text-align: center;
  vertical-align: middle;
  font-weight: 300;
  font-size: 18px;
  width: 25%;
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.1);
}

tr td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

tr td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.scrollbar {
  overflow: scroll;
  overflow-x: hidden;
  height: 200px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

h1 {
  padding: 10px 10px 10px 10px;
  text-align: left;
  margin: 5px 0 5px 0;
}

h2 {
  text-align: left;
  padding-left: 10px;
}

h3 {
  text-align: left;
  margin: 0;
  padding: 3px 0 3px 10px;
}

img {
  width: 300px;
}
</style>
