<template>
  <div class="main">
    <button class="portNameButton">{{ portName }}</button>
    <div class="portMap">
      <div class="portRow">
        <div v-for="place in firstHalf" :key="place.id">
          <Place
              @click="openModal(place)"
              v-bind:placeId="place.id"
              :booked="place.booked"
          />
        </div>
      </div>
      <div class="rectangle"></div>
      <div class="portRow">
        <div v-for="place in secondHalf" :key="place.id">
          <Place
              @click="openModal(place)"
              v-bind:placeId="place.id"
              :booked="place.booked"
          />
        </div>
      </div>
    </div>

    <common-modal
        v-if="show && !placeData.booked"
        v-model="show"
        @confirm="confirm"
        @cancel="cancel"
    >
      <template v-slot:title></template>
      <div class="text">
        <PlaceForBookingInfo
            :startDate="startDate"
            :endDate="endDate"
            :numberOfDays="numberOfDays"
            :placeData="placeData"
        />
        <h3 class="blue-mid-text">Number of passengers:
          <input type="number" id="numberOfPassengers" min="1"/>
        </h3>
      </div>
      <div class="picAndButton">
        <img :src="logo" alt="logo"/>
        <div class="buttonDiv">
          <blue-button-m
              @click="confirm(placeData.id, startDate, endDate, placeData.price * numberOfDays, numberOfPassengers())"
              msg="Pay with invoice"
              class="payButton"
              id="invoice"

          ></blue-button-m>
          <blue-button-m
              @click="confirm(placeData.id, startDate, endDate, placeData.price * numberOfDays, numberOfPassengers())"
              msg="Pay in cash"
              class="payButton"
              id="cash"
          ></blue-button-m>
        </div>
      </div>
    </common-modal>

    <common-modal
        v-if="paymentSelected"
        v-model="paymentSelected"
        @confirm="confirm"
        @cancel="cancel"
    >
      <SuccessfulBookingInfo></SuccessfulBookingInfo>
    </common-modal>

    <common-modal
        v-if="show && placeData.booked"
        v-model="show"
        @confirm="confirm"
        @cancel="cancel"
    >
      <template v-slot:title></template>
      <div class="alreadyBooked">
        <h1 class="blue-bold-header bookedPlace">
          Sorry this place has been already booked or is not big enough for your boat.
        </h1>
        <blue-button-m
            @click="cancel"
            msg="Choose another place"
            class="choose"
        ></blue-button-m>
      </div>
    </common-modal>

  </div>
</template>

<script>
import Place from "../../../shared/components/Place.vue";
import BlueButtonM from "../../../shared/components/buttons/BlueButtonM.vue";
import CommonModal from "../CommonModal";
import SuccessfulBookingInfo from "../SuccessfulBookingInfo";
import PlaceForBookingInfo from "../PlaceForBookingInfo";
import firebase from "../../../../../portbooker-backend/firebase";
import {BookingsService} from "../../../../../portbooker-backend/services/BookingsService";

export default {
  components: {Place, CommonModal, SuccessfulBookingInfo, PlaceForBookingInfo, BlueButtonM},
  name: "Port",
  props: {
    portName: {
      type: String,
      default: "",
    },
    placesData: Array,
    startDate: String,
    endDate: String,
    showPrice: Boolean,
    numberOfDays: Number,
  },
  computed: {
    firstHalf: function () {
      const size = this.placesData.length;
      const half = Math.ceil(size / 2);

      return this.placesData.slice(0, half);
    },
    secondHalf: function () {
      const size = this.placesData.length;
      const half = Math.ceil(size / 2);

      return this.placesData.slice(half);
    },
  },
  methods: {
    async confirm(placeId, startTime, endTime, price, passengers) {
      if (passengers === '') {
        alert("Please specify passengers");
        return;
      }
      const currentUser = firebase.auth().currentUser.uid;
      const newBooking = new BookingsService(currentUser, placeId, startTime, endTime, price, passengers, this.portName, false);
      await newBooking.createBooking(this.portName);
      this.paymentSelected = true;
      this.show = false;
    },
    cancel() {
      this.show = false;
      this.paymentSelected = false;
    },
    openModal(data) {
      if (this.numberOfDays) {
        this.placeData = data;
        this.show = true;
      } else {
        alert("Fill dates for prices");
      }
    },
    numberOfPassengers() {
      return document.getElementById('numberOfPassengers').value;
    }
  },

  data() {
    return {
      show: false,
      placeData: null,
      logo: require("@/assets/portbooker.png"),
      paymentSelected: false,
    };
  },
};
</script>

<style scoped>
.payButton {
  margin: 10px;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.picAndButton {
  margin: 50px 0 0 200px;
  display: flex;
  flex-direction: column;
  justify-content: right;
}

#numberOfPassengers{
  border: 2px solid #24305e;
  border-radius: 4px;
  width: 35px;
  text-align: left;
}

input:focus {
  outline: none;
}

.buttonDiv {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin: 50px 0 0 10px;
}

.choose {
  margin: 10px;
}

.alreadyBooked {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rectangle {
  height: 4rem;
  width: 32rem;
  background-color: #24305e;
  border: 0;
}

.portMap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  max-width: 800px;
  animation: float 5s infinite;
  background-color: white;
}

.portNameButton {
  color: #eef4f8;
  font-weight: 300;
  background-color: #24305e;
  padding: 11rem 3rem;
  border: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
  max-width: 9rem;
}

.bookedPlace {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  max-width: 80%;
}

.payButton {
  margin: 10px;
}

.picAndButton {
  margin: 50px 0 0 100px;
  padding-left: 60px;
  display: flex;
  flex-direction: column;
  justify-content: right;
}

.buttonDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 50px 0 0 10px;
}

h1 {
  padding: 10px 10px 10px 10px;
  text-align: left;
  margin: 5px 0 5px 0;
}

h2 {
  text-align: left;
  padding-left: 10px;
}

h3 {
  text-align: left;
  margin: 0;
  padding: 3px 0 3px 10px;
}

img {
  width: 300px;
}

</style>

