<template>
  <div>
    <button v-if="booked" class="true"></button>
    <button v-else class="false">{{ placeId }}</button>
  </div>
</template>

<script>
export default {
  name: "Place",
  props: {
    placeId: {
      type: String,
      default: '1',
    },
    booked: Boolean
  },
};
</script>

<style scoped>

button{
    display:inline-block;
    padding:4em 2em;
    border:0.1em solid #a8d0e6;
    border-radius:0.5em;
    box-sizing: border-box;
    font-family:'Roboto',sans-serif;
    font-weight:500;
    color:#24305e;
    text-align:center;
    transition: all 0.2s;
    margin: 1.2em;
    max-width: 5rem;
}
button:hover {
    background-color:#24305e;
    color:#FFFFFF;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
}
.false{
  background-color: #a8d0e6;
}

.true{
  background-color: #F76C6C;
  padding: 4.65em 2em;

}

</style>
